@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
:root{
 --primary: #286256;
 --secondary: #E8B132;
 --white: #fff;
 --text: #081411;
 --lato: 'Lato', sans-serif;
 --libre: 'Libre Baskerville', serif;
 --linear: rgba(0, 0, 0, 0.60);
}

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: var(--lato);
}
html{
 font-size: 95%;
 scroll-behavior: smooth;
 scroll-padding-top: 4rem;
}
li{
 list-style: none;
}
a{
 text-decoration: none;
}
 button{
 display: inline-block;
 padding: 0.5rem 1.5rem;
 border: 1px solid var(--primary);
 font-size: 1rem;
 font-weight: 500;
 border-radius: 999px;
 cursor: pointer;
 text-transform: capitalize;}